<?xml version="1.0"?>
<!--
  ~ Mage-World
  ~
  ~  @category    Mage-World
  ~  @package     MW
  ~  @author      Mage-world Developer
  ~
  ~  @copyright   Copyright (c) 2018 Mage-World (https://www.mage-world.com/)
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mageworld" translate="label" sortOrder="999998" class="mageworld-tab">
            <label>Mage World</label>
        </tab>
        <section id="mw_ddate" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Advance Delivery Schedule</label>
            <tab>mageworld</tab>
            <resource>MW_Ddate::mw_ddate_config</resource>
            <group id="group_general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="formatdate" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Format Date</label>
                    <source_model>MW\Ddate\Model\System\Config\Formatdate</source_model>
                </field>
                <field id="weeks" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Weeks</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="maximum_bookings" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default max deliveries per slot</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="return_slot_shipped" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Return Delivery Slot When Order Shipped</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="return_slot_cancel" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Return Delivery Slot When Order Canceled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="delay" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Delay (hour)</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="first_column_header" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>First Column Header</label>
                    <comment>
                        <![CDATA[max 40 characters]]>
                    </comment>
                </field>

                <field id="deliver_saturdays" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Deliver Saturdays</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="deliver_sundays" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Deliver Sundays</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="special_days" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>List Special Day(not delivery)</label>
                    <comment>
                        <![CDATA[Example: 2010-09-02;2010-12-15;2010-10-10;]]>
                    </comment>
                </field>

                <field id="calender_display" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Calender Display</label>
                    <source_model>MW\Ddate\Model\System\Config\CalendarDisplay</source_model>
                </field>
                <!--<field id="dayoff" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">-->
                    <!--<label>Using day off</label>-->
                    <!--<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>-->
                <!--</field>-->
                <field id="comment" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Comment</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <!--<field id="disable_base_firststlot" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="0" showInStore="0">-->
                    <!--<label>Disable based on the fisrt slot</label>-->
                    <!--<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>-->
                    <!--<comment>-->
                        <!--<![CDATA[Notice: If it's enable and customer can not select the first slot time on a specified day (not in full slot) then other slots on same day be disable]]>-->
                    <!--</comment>-->
                <!--</field>-->

                <field id="description" translate="label" type="textarea" sortOrder="13" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Description</label>
                </field>

            </group>
        </section>
    </system>
</config>