<?xml version="1.0"?>
<!--
  ~ Mage-World
  ~
  ~  @category    Mage-World
  ~  @package     MW
  ~  @author      Mage-world Developer
  ~
  ~  @copyright   Copyright (c) 2018 Mage-World (https://www.mage-world.com/)
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="mw_delivery_date_config_provider" xsi:type="object">MW\Ddate\Model\DeliveryConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>