<?xml version="1.0"?>
<!--
  ~ Mage-World
  ~
  ~  @category    Mage-World
  ~  @package     MW
  ~  @author      Mage-world Developer
  ~
  ~  @copyright   Copyright (c) 2018 Mage-World (https://www.mage-world.com/)
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="MW\Ddate\Ui\DataProvider\View\Ddate\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="general" xsi:type="array">
                    <item name="class" xsi:type="string">MW\Ddate\Ui\DataProvider\View\Ddate\Modifier\General</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
                <item name="not_shipped" xsi:type="array">
                    <item name="class" xsi:type="string">MW\Ddate\Ui\DataProvider\View\Ddate\Modifier\NotShipped</item>
                    <item name="sortOrder" xsi:type="number">30</item>
                </item>
                <item name="shipped" xsi:type="array">
                    <item name="class" xsi:type="string">MW\Ddate\Ui\DataProvider\View\Ddate\Modifier\Shipped</item>
                    <item name="sortOrder" xsi:type="number">35</item>
                </item>
                <item name="cancel" xsi:type="array">
                    <item name="class" xsi:type="string">MW\Ddate\Ui\DataProvider\View\Ddate\Modifier\Cancel</item>
                    <item name="sortOrder" xsi:type="number">45</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="MW\Ddate\Ui\DataProvider\View\Ddate">
        <arguments>
            <argument name="pool" xsi:type="object">MW\Ddate\Ui\DataProvider\View\Ddate\Modifier\Pool</argument>
        </arguments>
    </type>
</config>