<?xml version="1.0"?>

<!--
  ~ Mage-World
  ~
  ~ @category    Mage-World
  ~ @package     MW
  ~ @author      Mage-world Developer
  ~
  ~ @copyright   Copyright (c) 2018 Mage-World (https://www.mage-world.com/)
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="delivery_date_order_save_after" instance="MW\Ddate\Observer\OrderPlaceAfter"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="delivery_date_order_shipment_save_after" instance="MW\Ddate\Observer\ShipmentAfter" />
    </event>
    <event name="order_cancel_after">
        <observer name="delivery_date_order_cancel_after" instance="MW\Ddate\Observer\OrderCancelAfter"/>
    </event>
    <event name="checkout_cart_update_items_after">
        <observer name="delivery_date_checkout_cart_update_items_after" instance="MW\Ddate\Observer\CartUpdateAfter"/>
    </event>
    <event name="email_order_set_template_vars_before">
        <observer name="delivery_date_email_order_set_template_vars_before" instance="MW\Ddate\Observer\EmailOrderSetTemplateVarsBefore"/>
    </event>
</config>